* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  background-color: #f8f8f8;
  padding: 1vh 0.5px;
  border-top: 1px solid #ddd;
}

.container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70vw; /* Or 70% if you want it based on parent width */
  margin: 0 auto;
  width: 80%;
  
}

.contact-form,
.info {
  flex: 1 1 400px;
  min-width: 300px;
}


.contact-form h2,
.info h2 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 1.5rem;
}

.contact-form form label {
  display: block;
  margin-bottom: 0;
  color: #000000;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  resize: vertical;
  color: #000000;
}

input,
textarea {
  width: 100%;
  padding: 8px 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  resize: vertical;
  color: #000000;
}


button {
  padding: 0.375rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #000000;
  border-radius: 9999px;
  transition: background-color 0.2s ease;
  margin: 0 0 0 0;
  display: block; /* để nút thành block-level element */
  margin: 20px auto 0; /* căn giữa ngang, margin trên 20px */
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #999999;
}

.info p {
  margin-bottom: 10px;
  color: #999999;
  font-size: 1rem;
}
